* {
  font-family:'Roboto', sans-serif;
  background-color: green;
}

html, body {
  margin:0;
  padding:0;
}

header {
    background-color: #666;
}

nav {
  float: left;
  padding-bottom: 50px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  background-color: #666;
  padding-left: 20px
}

li {
  float: left;
  background-color: #666;
}

.ch3list {
  text-align: center;
  position: relative;
  display: inline-block;
  float: none;
  padding: 0px;
}

.ch3nav {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
}

.ch3ul {
  padding: 0px;
}

.ch3image {
  width: 86.5%;
  height: 86.5%;
  margin: 0 auto;
  display: block;
  padding-bottom: 50px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #666;
}

li a:hover {
  background-color: #55e07f;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

.first-section {
  padding-top: 50px;
  padding: 50px 40px 20px;
}


.second-section {
    padding: 50px 40px 50px;
    background-color: #55e07f;
}

.section2 {
  padding: 80px 40px 20px;
  width: 80%;
  margin: 30px auto;
  background-color: #55e07f;
}

footer {
  text-align: center;
  background-color: #666;
  width: 100%;
}
